html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

:root {
    --bg-global: #181216;
    --header-light: #33032f;
    --header-lighter: #531253;
    --white-text: #fbf9ff;
    --table-color: #312f2f;
    --table-accent: #C7B03A;
    --font-body: 'Zilla Slab', serif;
    --font-header: 'Alfa Slab One', cursive;
}

main {
 	padding: 3ch 0 1ch 1em;
    font-size: 1.3125rem;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    background: var(--table-color);
    background: var(--bg-global);
    background: -moz-linear-gradient(left, var(--bg-global) 0%, var(--header-light) 72%, var(--header-light) 100%);
    background: -webkit-linear-gradient(left, var(--bg-global) 0%, var(--header-light) 72%, var(--header-light) 100%);
    background: linear-gradient(to right, var(--bg-global) 0%, var(--header-light) 72%, var(--header-light) 100%);
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
margin: 0 2vw; /* Utiliza unidades vw para el margen */
}

.menu a {
text-decoration: none;
color: white;
}

.menu-button {
display: none;
background: none;
border: none;
font-size: 2.5vw; /* Utiliza unidades vw para el tamaño de fuente */
cursor: pointer;
color: white;
}

#logo {
    height: 50px;
}

#title {
    font-size: 2em;
    font-weight: 700;
    padding-top: 20px;
}

.main-section {
    padding: 0.5rem 0 1rem 0.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: clamp(2rem, 90%, 55rem);
}

.main-item img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    font-family: var(--font-body);
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    background: var(--white-text);
}

#main-item2 {
    
}

aside {
    position: relative;
    top: 7.1rem;
    box-shadow: 10px 10px;
    width: clamp(8rem, 85%, 100%);
    height: fit-content;
    overflow: auto;
    text-align: center;
    font-weight: 300;
}

table td {
    border-bottom: 3px solid var(--table-color);
}

table {
    width: 100%;
}

th {
    padding: 40px 0 40px;
    font-weight: 800;
    background-color: var(--table-color);
    color: var(--table-accent);
    font-size: 1.6em;
}

td {
    padding: 20px 0;
}

.recommended {
    font-size: 23px;
}

footer {
    background-color: var(--bg-global);
}

.footer-container {
    display: flex;
    padding: 0.3em 0;
    height: 3rem;
    justify-content: center;
}

footer img {
    width: auto;
    height: 25px;
}

.footer-container a {
    padding: 5px;
}

.footer-text {
    font-family: var(--font-body);
    text-align: center;
    padding-bottom: 0.5rem;
    color: var(--white-text)
}

@media (max-width: 768px) {
    .menu {
        display: none; /* Oculta el menú en pantallas pequeñas */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 3em;
        left: 3em;
        width: 10em;
        z-index: 1;
    }

    .menu-button {
        display: block; /* Muestra el botón en pantallas pequeñas */
        font-size: 30px;
        padding-bottom: 7px;
    }

    .menu.expanded {
        display: flex; /* Muestra el menú cuando se expande */
    }
}